---
layout: default
---

{% assign posts_by_year = site.posts | where: "published", true | group_by_exp: "post", "post.date | date: '%Y'" %}

{% for year_group in posts_by_year %}
  <div class="year-heading">{{ year_group.name }}</div>
  {% for post in year_group.items %}
    <div class="post-row">
      <span class="post-row-date">{{ post.date | date: "%b %-d" }}</span>
      <span class="post-row-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></span>
    </div>
  {% endfor %}
{% endfor %}
